
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eSoft- Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        /* border-bottom: 2px solid transparent;
        border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
        border-image-slice: 1; */

        #ErrorMsgDiv {
            position: fixed;
            width: 100%;
            left: 0%;
            z-index:9999;
            overflow:hidden;
            height:100%;
        }
        .errorValidmsg {
            font-size: 12px;
            justify-content: center;
            color: red;
        }
    </style>
</head>

<body class="" style="background-image: linear-gradient(to left, #3d1746, #2d1e48, #1d2345, #13253f, #102537);">
    <!-- <body class="bg-gradient-primary"> -->

    <div id="ErrorMsgDiv" class="" style="display:none">
        <div style="background-color: rgba(169, 168, 168, 0.3);height: 100%;">
            <div class="row justify-content-center" style="top: 35%;position: relative;">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card">
                        <div class="card-header alert-danger">
                            Error
                            <button type="button" class="close closeErrormsg">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="ErrorMsg">Special title treatment</h5>
                            @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                            <a href="#" class="btn btn-primary float-right closeErrormsg">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-lg-12 col-md-9">
                <!-- <div class="col-xl-10 col-lg-12 col-md-9"> -->

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <!-- <div class="col-lg-6"> -->
                                <div class="p-3">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">
                                            <strong style="border-bottom: 2px solid transparent;
                                            border-image: linear-gradient(0.25turn, rgb(6, 1, 52), rgb(28, 22, 64), rgba(56,2,155,0));
                                            border-image-slice: 1; font-family: serif;">Login To eSoft</strong>
                                        </h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <label for="InputGroupCode" style="margin-right: 2%;">Group Code:-</label>
                                            <input type="text" style="display: inline-block;
                                            width: 72%;" class="form-control form-control-user" id="InputGroupCode" aria-describedby="groupHelp" placeholder="Enter Group Code...">
                                            <span style="display:none;" id="GroupCodeErrorMsg" class="errorValidmsg">Enter Group Code</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="" style="margin-right: 0%;">Current Date:-</label>
                                            <input required type="date" style="display: inline-block;width: 72%;" class="form-control form-control-user" id="dateInputGroup" aria-describedby="dateHelp" placeholder="Enter Date...">
                                        </div>
                                        <div class="form-group">
                                            <label for="" style="margin-right: 9%;">User ID:-</label>
                                            <input type="email" style="display: inline-block;
                                            width: 72%;" class="form-control form-control-user" id="InputUserId" aria-describedby="emailHelp" placeholder="Enter User ID...">
                                            <span style="display:none;" id="UserIdErrorMsg" class="errorValidmsg">Enter User ID</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="" style="margin-right: 5%;">Password:-</label>
                                            <input type="password" style="display: inline-block;
                                            width: 72%;" class="form-control form-control-user" id="InputPassword" placeholder="Password">
                                            <span style="display:none;" id="PasswordErrorMsg" class="errorValidmsg">Enter Password</span>
                                        </div>

                                        <div class="row mb-1">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <a href="#" data-toggle="modal" data-target="#ForgotPasswordModal" class="text-primary d-flex float-right">Forgot Password?</a>
                                            </div>
                                        </div>
                                        @*<a href="/Home/index"  class="btn btn-primary btn-user btn-block">Login</a>*@
                                        @*<a href="#" data-toggle="modal" data-target="#TransportlogoffModal1" id="Loginbtn" onclick="loginFun()" class="btn btn-primary btn-user btn-block">Login</a>*@
                                        <a href="#" data-toggle="modal"  id="Loginbtn" onclick="loginFun()" class="btn btn-primary btn-user btn-block">Login</a>
                                        <hr>
                                        <div class="row">
                                            <div class="col-4 mb-2 text-center">
                                                <span for="latitude" class="m-0" style="border-bottom:1px solid gray">latitude</span>
                                                <p id="latitude" class="m-0"></p>
                                            </div>
                                            <div class="col-4 mb-2 text-center">
                                                <span for="latitude" class="m-0" style="border-bottom:1px solid gray">longitude</span>
                                                <p id="longitude" class="m-0"></p>
                                            </div>
                                            <div class="col-4 mb-2 text-center">
                                                <label for="Device" class="m-0" style="border-bottom:1px solid gray">Device</label>
                                                <p id="deviceName" class="m-0"></p>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                                <table></table>
                                            </div>
                                            <span id="longitude"></span>
                                            <span id="latitude"></span>*@
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- ForgotPassword Logoff Modal-->
    <div class="modal fade" id="ForgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="exampleModalLabel">Forgot Password</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-12 clo-lg-12 mb-3">
                                <label for="validationCustom01">User ID</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="userid" placeholder="User ID" value="" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-3">
                                <label for="validationCustom02">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="pass" placeholder="Password" value="" required>
                                </div>
                            </div>
                        </div>

                    </form>



                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/Home/Login">Login</a>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>
    <script>

        $(document).ready(function () {
            //const date = new Date();

            //let day = date.getDate();
            //let month = date.getMonth() + 1;
            //let year = date.getFullYear();
            //let Ddd = "";
            //if (month < 10) {

            //    if (day < 10) {
            //         Ddd = year + '-0' + month + '-0' + day
            //    } else {
            //         Ddd = year + '-0' + month + '-' + day
            //    }
            //    $("#dateInputGroup").val(Ddd)
            //}
            //else {
            //    if (day < 10) {
            //         Ddd = year + '-0' + month + '-0' + day
            //    } else {
            //         Ddd = year + '-' + month + '-' + day
            //    }
            //    $("#dateInputGroup").val(Ddd)
            //}

            getCurrentPosition(success)
            getCurrentPosition(success, error)
            getCurrentPosition(success, error, options)


        });

        var urlLink = 'http://localhost:10666/Api/'
        //-----------------------

        const options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0,
        };
        navigator.geolocation.getCurrentPosition(
            function (position) {
                // Extract latitude and longitude from the position object
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                // Do something with the latitude and longitude, e.g., display on a map
                console.log("Latitude: " + latitude + ", Longitude: " + longitude);
            })
        function success(pos) {
            const crd = pos.coords;
            console.log(pos)
            console.log("Your current position is:");
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            console.log(`More or less ${crd.accuracy} meters.`);
            $("#latitude").html(crd.latitude)
            $("#longitude").html(crd.longitude)
            getCity()
        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);



        //---------------------
        var x = '';
        function showError(error) {
            if (error.code == 1) {
                x.innerHTML = "User denied the request for Geolocation."
            }
            else if (error.code == 2) {
                x.innerHTML = "Location information is unavailable."
            }
            else if (error.code == 3) {
                x.innerHTML = "The request to get user location timed out."
            }
            else {
                x.innerHTML = "An unknown error occurred."
            }
        }
        //----------------

        $("input,button, #agreeTerms ").focus(function () {
            $(this).css("background-color", "rgb(255, 255, 49)");
            $(this).css("color", "black");
        });
        $("input,button, #agreeTerms").focusout(function () {
            $(this).css("background-color", "");

        });


        const device = detectDevice();
        $("#deviceName").html(device)
        function detectDevice() {
            const userAgent = navigator.userAgent.toLowerCase();
            if (userAgent.indexOf('mobile') !== -1) {
                return 'Mobile';
            } else if (userAgent.indexOf('tablet') !== -1) {
                return 'Tablet';
            } else {
                return 'Desktop';
            }
        }

        function getCity() {
            var lat = $("#latitude").text();
            var long = $("#longitude").text();

            if ((lat != null && lat != null && lat != undefined) && (long != null && long != null && long != undefined)) {
                var nominatimApiUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${long}`;

                fetch(nominatimApiUrl)
                    .then(response => response.json())
                    .then(data => {
                        var city = data.address.city || data.address.town || data.address.village || data.address.hamlet || "City not found";

                        console.log(`City: ${city}`);
                        sessionStorage.setItem('CityName', city)
                    })
                    .catch(error => {
                        console.error("Error fetching reverse geolocation data:", error);
                    })
            }

        }


        //Code For Call API on Group Code
        //$("#dateInputGroup").focusout(function (e) {
        $("#dateInputGroup").focus(function (e) {
            //$(this).css("background-color", "#FFFFFF");
            debugger;
            $("#loader").css("display", "block");
            var groupCode = $("#InputGroupCode").val();

            if (groupCode == null || groupCode == undefined || groupCode == '') {

                $("#GroupCodeErrorMsg").css("display", 'flex');
              
            }
            else {
                $("#GroupCodeErrorMsg").css("display", 'none');

                $.ajax({
                    url: urlLink + 'ApiMaster/ValidateGroupCode',
                    type: "GET",
                    data: { "GroupCode": groupCode },
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger;

                        if (result.status == 1) {
                            var Data = new Date();
                            Data = result.message
                            var CrrDate = Data[0]['clDate'].split("T", 1);
                            $("#dateInputGroup").val(CrrDate[0])
                            console.log(Data)
                            for (var key in Data[0]) {
                                sessionStorage.setItem(key, Data[0][key])
                            }
                        }
                        else {
                            $("#InputGroupCode").val('');
                            $("#dateInputGroup").val('');
                            DisplayErroeMsg(result.message)          
                        }
                        $("#loader").css("display", "none");

                    }
                });
            }
        });
        //-----------------------END-------------------------

        $('.closeErrormsg').click(function () {
            $("#ErrorMsgDiv").hide();
        });

        function DisplayErroeMsg(msg) {
            $("#ErrorMsgDiv").show();
            $("#ErrorMsg").html(msg);
            $('.closeErrormsg').focus();
        }

        function loginFun() {
            debugger
            var GroupCode = $("#InputGroupCode").val();
            var UserID = $("#InputUserId").val();
            var password = $("#InputPassword").val();

            if (GroupCode == "" || GroupCode == undefined || GroupCode == null) {
                $("#GroupCodeErrorMsg").css("display", 'flex');
            }
            else {
                $("#GroupCodeErrorMsg").css("display", 'none');
            }
            if (UserID == "" || UserID == undefined || UserID == null) {
                $("#UserIdErrorMsg").css("display", 'flex');
            }
            else {
                $("#UserIdErrorMsg").css("display", 'none');

            }
            if (password == "" || password == undefined || password == null) {
                $("#PasswordErrorMsg").css("display", 'flex');
            }
            else {
                $("#PasswordErrorMsg").css("display", 'none');
            }

            //if ((GroupCode != "" || GroupCode != undefined || GroupCode != null) && (UserID != "" || UserID != undefined || UserID != null) && (password != "" || password != undefined || password != null)) {
            if (GroupCode != ""  && UserID != "" && password != "" ) {
                $("#PasswordErrorMsg").css("display", 'none');
                $("#UserIdErrorMsg").css("display", 'none');
                $("#GroupCodeErrorMsg").css("display", 'none');


                $.ajax({
                    url: urlLink + 'ApiMaster/LoginByUserCodeNPwd',
                    type: "GET",
                    //dataType: "JSON",
                    data: { "musercode": UserID, "mpwd": password},
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    //data: JSON.stringify({ "GroupCode": groupCode}),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("DBNAME", sessionStorage.dbName);
                    },
                    success: function (result) {
                        debugger;

                        if (result.status == 1) {
                            var Data = new Date();
                            Data = result.message
                            //var CrrDate = Data[0]['clDate'].split("T", 1);
                            //$("#dateInputGroup").val(CrrDate[0])

                            sessionStorage.setItem("UserName", Data[0]['UserName']);
                            var string = JSON.stringify(Data)

                            localStorage.setItem("LogingObj",string)




                            //for (var key in Data[0]) {
                            //    localStorage.setItem(key, Data[0][key])
                            //}
                            location.replace("/Home/index")
                            //Displaymenu(data)
                        }
                        else {                           
                            DisplayErroeMsg(result.message);
                        }
                        $("#loader").css("display", "none");
                        //$('#TransportlogoffModal1').modal('show');

                    }
                });



            }

        }

    </script>
</body>

</html>

