
@{
    ViewBag.Title = "RateListBilty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Rate List Bilty</h1>
    </div>
</div>

<section>
    <div class="row">
        <div class="col-md-12" style="background-color: #fff; padding: 1%; height: 100%; box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.7);">
            <from>
                <div class="form-inline row">
                    <div class="form-group col-md-3 ">
                        <label for="inputPriceType">Price Type:- </label>
                        <select id="inputPriceType" class="form-control form-control-sm col-md-8 ml-1">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputRateLocation">Location:- </label>
                        <select id="inputRateLocation" class="form-control form-control-sm col-md-8 ml-1">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="inputRateCityName">City Name:- </label>
                        <select id="inputRateCityName" class="form-control form-control-sm col-md-8 ml-1">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="inputRateName">Name:- </label>
                        <input type="text" id="inputRateName" class="form-control form-control-sm col-md-9 ml-1">
                    </div>

                </div>

                <div class="form-inline row mt-2">
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control form-control-sm" id="inputNo">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputRateConsignor">Consignor (g):- </label>
                        <select id="inputRateConsignor" class="form-control form-control-sm col-md-8 ml-1">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPaidDis">Paid Dis%:- </label>
                        <input type="text" id="inputPaidDis" class="form-control form-control-sm col-md-8 ml-1">
                    </div>

                </div>
            </from>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="ItemDetails-tab" data-toggle="tab" data-target="#ItemDetails" type="button" role="tab" aria-controls="ItemDetails" aria-selected="true">Item Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Other-tab" data-toggle="tab" data-target="#Other" type="button" role="tab" aria-controls="Other" aria-selected="false">Other</button>
                </li>
                @*<li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                </li>*@
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ItemDetails" role="tabpanel" aria-labelledby="ItemDetails-tab" style="background-color:#fff;padding:1%">

                    <div class="form-row ItemDetailsCommonCss">
                        <div class="form-group col-md-3">
                            <label for="inputCategoryGrp">Category/Group</label>
                            <select id="inputCategoryGrp" class="form-control form-control-sm">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCityName">City Name</label>
                            <input type="text" class="form-control form-control-sm" id="inputRateCityName">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputItemName">Item Name</label>
                            <input type="text" class="form-control form-control-sm" id="inputRateItemName">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputRateName"> </label>

                            <input type="text" id="inputRateName" class="form-control form-control-sm col-md-9 ml-1 mt-2">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputRatePWF">(P/W/F)</label>
                            <select id="inputRatePWF" class="form-control form-control-sm">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        @*<div class="form-group col-md-1">

                            <button type="submit" class="btn btn-sm btn-primary" style="margin-top: 33%;">New</button>
                        </div>*@
                    </div>

                    <div class="form-row ItemDetailsCommonCss">
                        <div class="form-group col-md-2">
                            <label for="inputHammali">Unit Price</label>
                            <input type="text" class="form-control form-control-sm" id="inputHammali">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputHmiby">HmIBY</label>
                            <select id="inputHmiby" class="form-control form-control-sm">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputHammali">Hammali</label>
                            <input type="text" class="form-control form-control-sm" id="inputHammali">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputDdcBy">DDCBY</label>
                            <select id="inputDdcBy" class="form-control form-control-sm">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputDdChg">DD Chg.</label>
                            <input type="text" class="form-control form-control-sm" id="inputSdChg">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputCrsBy">CrsBy</label>
                            <select id="inputCrsBy" class="form-control form-control-sm">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row ItemDetailsCommonCss">
                        <div class="form-group col-md-2">
                            <label for="inputCrCharges">Cr.Charges</label>
                            <input type="text" class="form-control form-control-sm" id="inputCrCharges">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputLoadBy">LoadBy</label>
                            <select id="inputLoadBy" class="form-control form-control-sm">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputLoading">Loading</label>
                            <input type="text" class="form-control form-control-sm" id="inputLasding">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputUnLodBy">UnLodBy</label>
                            <select id="inputUnLodBy" class="form-control form-control-sm">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputUnLoading">UnLoading</label>
                            <input type="text" class="form-control form-control-sm" id="inputUnLasding">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputDocChg">Doc.Chg</label>
                            <input type="text" class="form-control form-control-sm" id="inputDocChg">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputDelDays">Del.Days</label>
                            <input type="text" class="form-control form-control-sm" id="inputDelDays">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-4 offset-8">
                            <div style="float:right">
                                <button type="submit" class="btn btn-sm btn-primary">Add</button>
                                <button type="submit" class="btn btn-sm btn-primary">Cancle</button>                               
                            </div>
                        </div>
                    </div>

                </div>


                <div class="tab-pane fade" id="Other" role="tabpanel" aria-labelledby="Other-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>

        </div>
    </div>
</section>