
@{
    ViewBag.Title = "RefundsReceipts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="h3 mb-0 text-gray-800">Co-Oprative Loan</h1>
    </div>
</div>

<section>
<div>

</div>
</section>
