<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eSoft - Dashboard</title>
    <link href="~/Content/img/esoft.jpeg" rel="icon">


    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Content/css/Common_style.css" rel="stylesheet" />

    <style>
        li {
            list-style-type: none;
        }


        .showParentUl {
            display: block !important;
            animation: fadeIn 0.5s;
        }

        .hideParentUl {
            display: none !important;
            animation: fadeOut 0.5s;
        }

        .showChildUl {
            display: block !important;
            animation: fadeIn 0.5s;
        }

        .hideChildUl {
            display: none !important;
            animation: fadeOut 0.5s;
        }

        .showSubChildUl {
            display: block !important;
            animation: fadeIn 0.5s;
        }

        .hideSubChildUl {
            display: none !important;
            animation: fadeOut 0.5s;
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /*Loager Css start*/

        #loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            /*background: url('https://rmt-local.s3.amazonaws.com/ta-static-images/LatestIcons/loadergif.gif') 50% 50% no-repeat rgba(238,238,238,0.95);*/
            /*background: url('/Content/img/loader4.gif') 50% 50% no-repeat rgba(238,238,238,0.95);*/
            background: url('/Content/img/loader_(102537).gif') 50% 50% no-repeat rgba(238,238,238,0.95);
        }
        /*Loager Css End*/

        /*============style form errorMsg*/
        #ErrorMsgDiv {
            position: fixed;
            width: 100%;
            left: 0%;
            z-index: 9999;
            overflow: hidden;
            height: 100%;
        }

        .errorValidmsg {
            font-size: 12px;
            justify-content: center;
            color: red;
        }

        /*=================END====================*/

        .Manuactivebtn {
            
            border-radius: 50px;
            color:#fff;
        }

        .table thead th{
            color:#fff;
        }

    </style>
</head>

<body id="page-top">
    <div id="loader"></div>
    <div id="ErrorMsgDiv" class="" style="display:none">
        <div style="background-color: rgba(169, 168, 168, 0.3);height: 100%;">
            <div class="row justify-content-center" style="top: 35%;position: relative;">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card">
                        <div class="card-header alert-danger">
                            Error
                            <button type="button" class="close closeErrormsg">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="ErrorMsg">Special title treatment</h5>
                            @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                            <a href="#" class="btn btn-primary float-right closeErrormsg">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Wrapper -->
    <div id="wrapper">


        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
        </ul>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-blockf form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <h5 class="d-sm-inline-blockf form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <span  id="Userloaction" style="color:black ;cursor:pointer">
      
                        </span>
                    </h5>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>




                        <li class="nav-item dropdown no-arrow mx-0">
                            <span class="nav-link" href="#" role="button" style="color:black ;cursor:pointer">
                                07-07-2023
                                @*<span class="">07-07-2023</span>*@
                            </span>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-0">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-print fa-fw" style="font-size: 18px;
                                color: #3d1746;"></i>
                                <!-- Counter - Messages -->
                                <!-- <span class="badge badge-danger badge-counter">7</span> -->
                            </a>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-0">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-file-pdf fa-fw" style="font-size: 18px;
                                color: #3d1746;"></i>
                                <!-- Counter - Messages -->
                                <!-- <span class="badge badge-danger badge-counter">7</span> -->
                            </a>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-0">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- <i class="fas fa-bell fa-fw"></i> -->
                                <i class="fas fa-phone fa-fw" style="font-size: 18px;
                                color: #3d1746;"></i>
                                <!-- //Counter - Alerts -->
                                <!-- <span class="badge badge-danger badge-counter">3+</span> -->
                            </a>
                            <!-- //Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Contact
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-envelope text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- <div class="small text-gray-500">December 12, 2019</div> -->
                                        <span class="font-weight-bold">support123@gmail.com</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-phone text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- <div class="small text-gray-500">December 7, 2019</div> -->
                                        +91 1234567890
                                    </div>
                                </a>

                            </div>
                        </li>


                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-0 d-none">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw" style="font-size:18px;
                                color: #3d1746;"></i>
                                <!-- Counter - Messages -->
                                <!-- <span class="badge badge-danger badge-counter">7</span> -->
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/Content/img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/Content/img/undraw_profile_2.svg" alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/Content/img/undraw_profile_3.svg" alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Change Theme  -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="themDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Theme</span>
                                <i class="fa fa-adjust" style="color: black;"></i>
                                <!-- <img class="img-profile rounded-circle" src="img/undraw_profile.svg"> -->
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="themDropdown">
                                <a class="dropdown-item" href="#" onclick="toggleTheme('blue-purple')">
                                    <!-- <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Blue-Purple -->
                                    <div class="mr-2 text-gray-400" style="background-image: linear-gradient(to left, #3d1746, #2d1e48, #1d2345, #13253f, #102537); ;height: 25px;
                                    width: 25px;
                                    border-radius: 50%;
                                    display: inline-block;"></div><span style="vertical-align: super"> Blue-Purple</span>
                                </a>
                                <!-- <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                </a> -->
                                <a class="dropdown-item" href="#" onclick="toggleTheme('grey-dark')">
                                    <div class="mr-2 text-gray-400" style="background-color:#252525 ;height: 25px;
                                    width: 25px;
                                    border-radius: 50%;
                                    display: inline-block;"></div><span style="vertical-align: super"> Gray</span>
                                </a>

                                <a class="dropdown-item" href="#" onclick="toggleTheme('light-blue')">
                                    <div class="mr-2 bg-gradient-primary text-gray-400" style="height: 25px;
                                    width: 25px;
                                    border-radius: 50%;
                                    display: inline-block;"></div><span style="vertical-align: super"> Light Blue</span>
                                </a>

                            </div>
                        </li>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="logUserName"></span>
                                <img class="img-profile rounded-circle" src="~/Content/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i> Forgot Password
                                </a>
                                <!-- <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                </a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white d-none">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; eSoft Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to logout?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Home/Login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/js/demo/chart-pie-demo.js"></script>
    <script src="~/Content/js/demo/chart-bar-demo.js"></script>
    <script src="~/Content/js/Common_js.js"></script>
    <script src="~/Content/js/Dashboard.js"></script>


    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>*@


    <!-- Page level plugins -->
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>

    @*<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>*@
    <script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>

    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Content/js/demo/datatables-demo.js"></script>


    <script>
        var urlLink ='http://localhost:10666/Api/'
       
        $(document).ready(function () {
            //Displaymenu(menulist)
            $("#loader").css("display", "block");
            GetDashboardData();
            $("#loader").css("display", "block");

            GetSideMenuLink();
            $("#Userloaction").html(sessionStorage.CityName);
            $("#logUserName").html(sessionStorage.UserName);

            
        });

        function GetSideMenuLink() {
            $("#loader").css("display", "block");

            let obj = { ObjId: "GETMAINMENUWEB", DateFrom: "09-May-2020", DateTo: "09-May-2020", Others: "TRPR", UserCode: "1571" }
            $.ajax({
                url: urlLink + 'ApiMaster/GetMenuData',
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("DBNAME", sessionStorage.dbName);
                },
                success: function (data) {
                   // //debugger;

                    if (data.status == 1) {

                       // var date = new Date();
                        data = data.message
                        Displaymenu(data)
                    }
                    else {
                        console.log(error);
                        DisplayErroeMsg(data.message)
                    }
                    $("#loader").css("display", "none");
                    $('#TransportlogoffModal1').modal('show');
                }
            });
        }

    var parentlist = new Array();
    var child_list = new Array();
    var sub_child_list = new Array();
    function first_level_list(menulist) {
        parentlist.splice(0, parentlist.length)  // To delete all data from array Which is already exist.
        for (var i = 0; i < menulist.length; i++) {
            if (menulist[i]["ParentId"] == 0) {
                parentlist.push(menulist[i]);
            }
        }
        //parentlist.sort(function (a, b) {
        //    return a.MnuId - b.MnuId;
        //});
    }
    // this is for the second level or the second block
    function second_level_list(id, menulist) {

        child_list.splice(0, child_list.length);
        for (var j = 0; j < menulist.length; j++) {
            if (id == menulist[j]["ParentId"]) {
                child_list.push(menulist[j]);
            }
        }
        //child_list.sort(function (a, b) {
        //    return a.MnuId - b.MnuId;
        //});
    }
    //this is for the third level or the third block
    function third_level_list(id, menulist) {
        sub_child_list.splice(0, sub_child_list.length);

        for (var j = 0; j < menulist.length; j++) {
            if (id == menulist[j]["ParentId"]) {
                sub_child_list.push(menulist[j]);
            }
        }

        //sub_child_list.sort(function (a, b) {
        //    return a.MnuId - b.MnuId;
        //});
    }
        var str = '';
        function Displaymenu(menu) {
        var thirdlevelId = "0", secondlevelId = "0", firstlevelId = "0";
            $("#accordionSidebar").html('');    //To Empty HTML Code Which is already exist
            first_level_list(menu);
            var Currentmenu = $.grep(menu, function (n, i) {
                @*return n.ActName === '@actionName';*@
                return n.ActName;
            });
            if (Currentmenu.length > 0) {
                thirdlevelId = Currentmenu[0]["ParentId"];
                if (Currentmenu[0]["ParentId"] != "0") {
                    var ParentCurrentmenu = $.grep(menu, function (n, i) {
                        return n.MnuId === Currentmenu[0]["ParentId"];
                    });
                    if (ParentCurrentmenu.length > 0) {
                        secondlevelId = ParentCurrentmenu[0]["ParentId"];
                        if (ParentCurrentmenu[0]["ParentId"] != "0") {
                            var FirstParentCurrentmenu = $.grep(menu, function (n, i) {
                                return n.MnuId === ParentCurrentmenu[0]["ParentId"];
                            });
                            firstlevelId = FirstParentCurrentmenu[0]["ParentId"];
                        }
                    }
                }
            }
       // str = '<ul class="sidebar-menu tree" data-widget="tree">'  //data-widget is used to make drop down list


            str = '<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">';
            str += '<div class="sidebar-brand-icon rotate-n-15" >';
            str += '<img class="img-profile rounded-circle" src="/Content/img/esoft.jpeg" alt="" width="50%" />';
            str += '</div>';
            str += '<div class="sidebar-brand-text mx-3">Company Name</div>'
            str += '</a>'
            str += '<hr class="sidebar-divider my-0">';
            //str += '<li class="nav-item">';
            //str += '<span class="nav-link">';
            //str += '<span class="mr-1">' + sessionStorage.CityName+'</span>';
            //str += '<span>Division</span>';
            //str += '</span>';
            //str += '</li>';
            //str += '<hr class="sidebar-divider my-0">';

        for (var i = 0; i < parentlist.length; i++) {
            second_level_list(parentlist[i]["MnuId"], menu);  //In parentlist array data is available in the form of array of object.
            if (child_list.length > 0) {
                str += '<li class="nav-item treeview admin ' + (((secondlevelId == "0" ?thirdlevelId:secondlevelId) == parentlist[i]["MnuId"]) ? 'menu-open' : '') +'">';
                //str += '<a class="nav-link" href="javascript:void(0)">'
                str += '<a class="nav-link mainmenuParent "style="padding:5%;width:100%;margin-bottom: 2%;" href="javascript:void(0)" onclick="HideShowParent(this)">'
                str += '<i class="' + parentlist[i]["MnuIcon"] + '"></i>'
                str += '<span style="font-size: 1rem;">' + parentlist[i]["DispItem"] + '</span>'
                str += '<span class="pull-right-container">'
                str += '<i style="font-size:1rem;vertical-align: middle;float: right;" class="fa fa-angle-right pull-right"></i>'
                str += '</span>'
                str += '</a>'

                //str += '<ul class="nav-link pt-0 hideshowUl treeview-menu" style ="display:' + (((secondlevelId == "0" ? thirdlevelId : secondlevelId) == parentlist[i]["MnuId"]) ? 'block;' : 'none;') + '">'
                str += '<ul class="nav-link pt-0 hideshowUl treeview-menu hideParentUl pb-1" style="width:100%">'
                for (var j = 0; j < child_list.length; j++) {
                    third_level_list(child_list[j]["MnuId"], menu);
                    if (sub_child_list.length > 0) {
                        str += '<li class="nav-item hideShowChild treeview admin mb-1 ' + ((thirdlevelId == child_list[j]["MnuId"]) ? 'menu-open' : '') +'">';
                        str += '<a style="width:100%;padding:5%;" class="nav-link pt-1 pb-1 mainmenuChild " href="javascript:void(0)" onclick="HideShowChild(this)">';
                        str += '<span>' + child_list[j]["DispItem"] + '</span>';
                        str += '<span class="pull-right-container">';
                        str += '<i  style="font-size:1rem;vertical-align: middle;float: right;margin-right: 10%;" class="fa fa-angle-right pull-right"></i>';
                        str += '</span>';
                        str += '</a>';
                        //str += '<ul  class="nav-link pt-0 hideshowUl treeview-menu" style ="display:' + ((thirdlevelId == child_list[j]["MnuId"]) ? 'block;' : 'none;') + '">';
                        str += '<ul  class="nav-link pt-0 hideshowUl treeview-menu pb-1 " style ="display:none">';
                        for (var k = 0; k < sub_child_list.length; k++) {
                            var classnameNew = "";

                            @*if (sub_child_list[k]["CtrlName"] + '/' + sub_child_list[k]["ActName"] == "@pageName/@actionName") {
                                classnameNew = "active";
                            }*@
                            str += '<li class="nav-item pt-1 pb-1 ' + classnameNew + '"><a style="width:100%;padding: 5%;" class="nav-link pt-1 pb-0 mainmenuSubChild " onclick="SubChildMenuChange(this)" href="javascript:void(0)" data-url="/' + sub_child_list[k]["CtrlName"] + '/' + sub_child_list[k]["ActName"] + '"  ><span>' + sub_child_list[k]["DispItem"] + '</span></a></li>';
                        }
                        str += '</ul>';
                        str += '</li>';
                    }
                    else {
                         var classnameNew = "";

                        @*if (child_list[j]["CtrlName"] + '/' + child_list[j]["ActName"] == "@pageName/@actionName") {
                            }*@
                        str += '<li class="nav-item admin ' + classnameNew +'">';
                        str += '<a style="width:100%" class="nav-link pt-1 pb-0 mainmenuChild mainmenuSubChild " onclick="SubChildMenuChange(this)" href="javascript:void(0)" data-url="/' + child_list[j]["CtrlName"] + '/' + child_list[j]["ActName"] + '"  >';
                        str += '<span>' + child_list[j]["DispItem"] + '</span>';
                        str += '</a>';
                        str += '</li>'; classnameNew = "active";

                    }
                }
                str += '</ul>'
                str += '</li>'
            }
            else {
                var classnameNew = "";

                @*if (parentlist[i]["CtrlName"] + '/' + parentlist[i]["ActName"] == "@pageName/@actionName") {
                                classnameNew = "active";
                            }*@
                str += '<li class="nav-item admin ' + classnameNew +'">'
                str += ' <a class="nav-link" href="javascript:void(0)" data-url="/' + parentlist[i]["CtrlName"] + '/' + parentlist[i]["ActName"] + '">'
                str += ' <span>' + parentlist[i]["DispItem"] + '</span>'
                str += '</a>'
                str += '</li>'
            }
        }
        //str += '</ul>';
            //str += '<hr class="sidebar-divider d-none d-md-block">';
            //str += '<div class="text-center d-none d-md-inline">';
            //str += '<button class="rounded-circle border-0" id="sidebarToggle"></button>';
            //str +='</div>';
            $("#accordionSidebar").html(str)

        }

        function HideShowParent(e) {
            //debugger
            $(".mainmenuParent.Manuactivebtn").removeClass('Manuactivebtn')
            e.classList.add('Manuactivebtn');
            var classList = ''
            var boxes = document.querySelectorAll('.showParentUl');
            if (boxes != null && boxes.length > 0 && boxes != undefined) {

                boxes.forEach(function (box) {
                     classList = box.classList;


                    if (classList.contains('showParentUl')) {
                        //classList.remove('showParentUl')
                        //classList.add('hideParentUl')

                        if (e.nextSibling.classList.contains('showParentUl') == true) {
                            classList.remove('showParentUl')

                            e.nextSibling.classList.remove('showParentUl')
                            e.nextSibling.classList.add('hideParentUl')
                        }
                        else if (e.nextSibling.classList.contains('hideParentUl') == true) {
                            classList.remove('showParentUl')
                            classList.add('hideParentUl')

                            e.nextSibling.classList.remove('hideParentUl')
                            e.nextSibling.classList.add('showParentUl')
                        }
                        else {
                            classList.remove('hideParentUl')

                            e.nextSibling.classList.add('hideParentUl')
                            e.nextSibling.classList.remove('showParentUl')
                        }
                    }
                    else {
                        classList.remove('hideParentUl')
                        e.nextSibling.classList.remove('hideParentUl')
                        e.nextSibling.classList.add('showParentUl')
                    }
                });
            } else {
                //classList.remove('showParentUl')
                //classList.add('hideParentUl')

                e.nextSibling.classList.remove('hideParentUl')
                e.nextSibling.classList.add('showParentUl')
            }

        }

        function HideShowChild(e) {
            $(".mainmenuChild.Manuactivebtn").removeClass('Manuactivebtn')
            e.classList.add('Manuactivebtn');

            var boxes = document.querySelectorAll('.showChildUl');
            if (boxes != null && boxes.length > 0 && boxes != undefined) {


                boxes.forEach(function (box) {
                    var classList = box.classList;

                    if (classList.contains('showChildUl')) {
                        classList.remove('showChildUl')
                        classList.add('hideChildUl')

                        e.nextSibling.classList.remove('hideChildUl')
                        e.nextSibling.classList.add('showChildUl')
                    }
                    else {
                        classList.remove('hideChildUl')
                        e.nextSibling.classList.remove('hideChildUl')
                        e.nextSibling.classList.add('showChildUl')
                    }
                });
            } else {
                e.nextSibling.classList.remove('hideChildUl')
                e.nextSibling.classList.add('showChildUl')
            }
        }

        function HideShowSubChild(e) {
            //debugger
            $(".mainmenuSubChild.Manuactivebtn").removeClass('Manuactivebtn')
            e.classList.add('Manuactivebtn');

            var boxes = document.querySelectorAll('.showSubChildUl');
            if (boxes != null && boxes.length > 0 && boxes != undefined) {


                boxes.forEach(function (box) {
                    var classList = box.classList;


                    if (classList.contains('showSubChildUl')) {
                        classList.remove('showSubChildUl')
                        classList.add('hideSubChildUl')
                        e.nextSibling.classList.remove('hideSubChildUl')
                        e.nextSibling.classList.add('showSubChildUl')

                    }
                    else {
                        classList.remove('hideSubChildUl')
                        e.nextSibling.classList.remove('hideSubChildUl')
                        e.nextSibling.classList.add('showSubChildUl')
                    }
                });
            } else {
                e.nextSibling.classList.remove('hideSubChildUl')
                e.nextSibling.classList.add('showSubChildUl')
            }
        }

        
        //$(".mainmenuSubChild").on('click', function (e) {
        //    $(".mainmenuSubChild.Manuactivebtn").removeClass('Manuactivebtn')
        //    e.classList.add('Manuactivebtn');
        //});

        function SubChildMenuChange(e) {
            $(".mainmenuSubChild.Manuactivebtn").removeClass('Manuactivebtn')
            e.classList.add('Manuactivebtn');
        }

        //=============Code For Error Msg========08-08-2023=========
        function DisplayErroeMsg(msg) {
            $("#ErrorMsgDiv").show();
            $("#ErrorMsg").html(msg);
            $('.closeErrormsg').focus();
        }
        $('.closeErrormsg').click(function () {
            $("#ErrorMsgDiv").hide();
        });
        //===========================END==================================



        // ============== Code For Dashboard
        var DashBoardData = new Array();
        function GetDashboardData() {
            $("#loader").css("display", "block");
            
            $.ajax({
                url: urlLink + 'ApiMaster/GetDataForDashboard',
                type: "GET",
                dataType: "JSON", 
                data: { "Ind": '1', "PROJCODE": 'trpr' },
                contentType: "application/json; charset=utf-8",                
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("DBNAME", sessionStorage.dbName);
                },
                success: function (data) {
                    // //debugger;

                    if (data.status == 1) {
                        DashBoardData=[]
                        data = data.message
                        DashBoardData =data
                        DisplayDashBoardData(data)
                    }
                    else {
                        console.log(error);
                        DisplayErroeMsg(data.message)
                    $("#loader").css("display", "none");
                    }
                   
                }
            });
        }

        //function DisplayDashBoardData(Data) {
        //    if (Data.Table != null && Data.Table.length > 0 && Data.Table != undefined) {
        //        $("#marqueeTag").html(Data.Table[0]['mrqTest'])
        //    } else { $("#marqueeTag").html(''); $("#marqueeTag").html('No Data'); }

        //    if (Data.Table1 != null && Data.Table1.length > 0 && Data1.Table != undefined) { } else { $("#tb1").html(''); $("#tb1").html('No Data'); }
        //    if (Data.Table3 != null && Data.Table3.length > 0 && Data.Table3 != undefined) { } else { $("#tb1").html(''); $("#tb1").html('No Data'); }

        //    if (Data.Table4 != null && Data.Table4.length > 0 && Data.Table4 != undefined) { } else { $("#tb1").html(''); $("#tb1").html('No Data'); }
        //    if (Data.Table != null && Data.Table.length > 0 && Data.Table != undefined) { } else { $("#tb1").html(''); $("#tb1").html('No Data'); }
        //    if (Data.Table != null && Data.Table.length > 0 && Data.Table != undefined) { } else { $("#tb1").html(''); $("#tb1").html('No Data'); }
        //    if (Data.Table != null && Data.Table.length > 0 && Data.Table != undefined) { } else { $("#tb1").html(''); $("#tb1").html('No Data');}
        //}
        //=================END===================
    </script>

</body>

</html>